/* *** VARIABLES *** */
/* Colors */
$text-color: #dcdcf0;
$text-dimmed: #b6b6d4;

$bg-color: #1d191e;
$bg-dimmed: rgba(29, 25, 30, 0.9);
$bg-link: rgba(74, 70, 65, .8);

/* Fonts */
$main-font: 'Raleway', sans-serif;
$header-nav-font: 'Raleway', serif;